# Docker compose file for running the application

services:
  # ElysiaJS backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://localhost:27017/kanken
      - FRONTEND_URL=http://localhost:5173
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_APP_API_URL=http://localhost:3001
    ports:
      - "5173:3000"
    depends_on:
      - backend
    restart: unless-stopped
